{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-pink-100 min-h-screen">
        <!-- Navbar -->
     {% include 'partials/_navbar.html.twig' %}

        <!-- Header -->
        <header class="bg-pink-300 text-white text-center py-16">
            <h1 class="text-4xl font-bold">Découvrez Notre Catalogue</h1>
            <p class="mt-4 text-lg">Des ustensiles de cuisine de qualité pour tous vos besoins</p>
        </header>

        <!-- Section Catalogue -->
        <main class="container mx-auto px-6 py-12">
            <h2 class="text-3xl font-semibold text-pink-700 text-center">Nos Produits</h2>

          
            <div class="my-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
                {% for product in pagination %}
                    {{ component('ProductCard', { product: product }) }}
                {% endfor %}
            </div>
            
             <div class="flex justify-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </main>

        <!-- Footer -->
       {% include 'partials/_footer.html.twig' %}
    </div>
{% endblock %}