

 <footer class="bg-gray-900 text-white py-10">
    <div class="container mx-auto text-center md:text-left grid md:grid-cols-3 gap-8">
        <div>
            <div class="text-2xl font-bold text-pink-700">KitchenShop</div>
            <p class="mt-2">Inscrivez-vous à notre newsletter pour rester informé des nouveautés.</p>
            <div class="mt-4 flex">
                <input type="email" placeholder="Entrez votre email" class="w-full p-3 rounded-l-lg border border-gray-300 text-primary100">
                <button class="bg-pink-500 text-white px-6 py-3 rounded-r-lg font-semibold">S'abonner</button>
            </div>
        </div>
        <div>
            <h3 class="text-lg font-semibold">Liens utiles</h3>
            <ul class="mt-2 space-y-1">
                <li><a href="#" class="text-gray-400">Lien Un</a></li>
                <li><a href="#" class="text-gray-400">Lien Deux</a></li>
                <li><a href="#" class="text-gray-400">Lien Trois</a></li>
            </ul>
        </div>
        <div>
            <h3 class="text-lg font-semibold">Suivez-nous</h3>
            <ul class="mt-2 space-y-1">
                <li><a href="#" class="text-gray-400">Facebook</a></li>
                <li><a href="#" class="text-gray-400">Instagram</a></li>
                <li><a href="#" class="text-gray-400">LinkedIn</a></li>
            </ul>
        </div>
    </div>
    <p class="text-center text-gray-400 mt-6">   &copy; 2025 KitchenShop - Tous droits réservés.</p>
</footer>