

 <footer class="bg-gray-900 text-white py-10">
    <div class="container mx-auto text-center md:text-left grid md:grid-cols-3 gap-8">
        <div>
                <svg id="Calque_1" 
                    data-name="Calque 1" 
                    
                    viewBox="0 0 650.31 718.67"
                    class="w-8 ">
                    <defs>
                        <style>.cls-1{fill:#72141e;stroke:#be185d;stroke-miterlimit:10;}</style>
                    </defs>
                    <path class="cls-1" stroke-width="15" d="M331.81,1.94A173,173,0,0,0,234.21,53a162,162,0,0,0-29,40.8c-10,20-15.1,38.1-17.4,61.4l-1.1,11.6-11,.3c-32.9.8-68.2,12.4-98,32-14.2,9.4-36.5,31.8-46.4,46.6C-.09,293-8,352.94,9.91,408.84c9.2,28.8,28.9,58.8,51.7,78.8,10.3,9.1,27.5,21,38,26.3l9.6,4.9V614c0,52.4.3,95.3.7,95.3,1,0,14.9-7.7,24.6-13.7l8.7-5.4V495.54l-7.2-2.8c-43.6-16.4-75.5-47.2-91.3-88.4-6.9-17.7-9.6-33-9.6-54,0-27.8,4.3-45.8,16.7-70,7.1-13.9,15.9-25.4,29.2-38.1,24.9-23.9,52.1-36.4,89.2-41,11.5-1.4,36.7-.6,46,1.6,3.6.8,6.7,1.4,7,1.5s0-4.2-.6-9.3c-1.7-12.7-1.7-32.3.1-43.7C232,90,278.81,44,341.11,35.24c10.7-1.5,37.9-.6,48.1,1.6,49.9,11,90.5,47.7,104.8,95,5.2,17.1,5.7,20.7,5.7,41.5-.1,16.2-.5,21.2-2.3,29.7-2.1,9.6-7.2,24.5-10.7,31.2-.8,1.7-1.4,3.1-1.2,3.1,3.3,0,20,3.7,27.5,6.1,34.8,11.2,68.1,40.9,86.2,76.9,30.3,60.5,18.6,130-30.1,178-15,14.9-31.5,25.5-51.9,33.5l-10.5,4.2-.3,66.5-.2,66.6-8.3,3c-19.9,7.2-44.9,11-77.2,11.9a433.82,433.82,0,0,1-92.4-7.2c-7.4-1.4-13.8-2.5-14.3-2.5s-.8-42.2-.8-93.8v-93.9l-15.7-14c-27.4-24.4-50.1-48.6-61.2-65.2-5.8-8.5-13.4-24-16-32.6-6.3-20.2-2-39.6,12-54.9a57.73,57.73,0,0,1,36.9-18.2c18.9-1.8,38.3,9,51.1,28.5,5.8,8.9,14.8,27,20.9,42.3,2.3,6,4.6,10.8,5,10.8s2.6-2.9,4.8-6.4c12.7-19.5,38.5-47.3,50.7-54.6,19.8-11.7,42-10.5,55.2,3.2,6.6,6.7,9.7,14.5,10.1,25.2.8,19.3-6.8,36.8-25.5,58.1-17.1,19.6-41,37-73.5,53.6l-13.8,7v18.9c0,12.2.4,19,1,19,3.1,0,45.3-22.8,60.5-32.7,38-24.8,65.6-54.4,77.5-83,6.1-14.5,7.4-21.3,7.4-38.3.1-14.4-.1-16.1-2.7-24.1-7.2-21.8-26.1-39.1-49.9-45.5-8.6-2.4-27.8-2.4-37.3-.1-15.2,3.8-34.1,15.4-49.2,30.2a93.15,93.15,0,0,1-7.8,7.3c-.1-.2-1.4-2.6-3-5.3-7.8-13.8-20.9-28.3-32-35.6-23.8-15.6-57.3-17-84-3.7-25.5,12.9-43.3,34.6-48.9,59.8-6.3,28.5,1,58.2,21.9,89.5,11.5,17.3,21.9,29.2,48.1,55.1l24.4,24v98.7c0,54.3.3,98.7.7,98.7s7.7,1.6,16.2,3.4,23.5,4.6,33.1,6c86.3,12.5,155.4,6.7,199.5-16.8l10-5.3.5-65,.5-65.1,8-4.2c11.7-6.1,28.8-17.8,38.2-26.2a195.94,195.94,0,0,0,53.2-80.4c26.5-78.5-2.6-166.3-71.4-215.2-8.2-5.8-27.4-16.1-35.4-18.9-2.5-.9-3.2-1.6-2.7-2.8.3-.9,1.3-7.1,2.2-13.8,2.2-16.8,1.4-47.1-1.5-61-7.4-34.1-22.8-62.6-46.5-86.2a175.43,175.43,0,0,0-98.1-49C374.11,0,343.81,0,331.81,1.94Z"/>
                </svg>
                <div class="text-2xl font-bold text-pink-700">KitchenShop</div>
                <p class="mt-2">Inscrivez-vous à notre newsletter pour rester informé des nouveautés.</p>
                <div class="mt-4 flex">
                    <input type="email" placeholder="Entrez votre email" class="w-full p-3 rounded-l-lg border border-gray-300 text-primary100">
                    <button class="bg-pink-500 text-white px-6 py-3 rounded-r-lg font-semibold">S'abonner</button>
                </div>
        </div>
        <div>
            <h3 class="text-lg font-semibold">Liens utiles</h3>
            <ul class="mt-2 space-y-1">
                <li><a href="#" class="text-gray-400">Lien Un</a></li>
                <li><a href="#" class="text-gray-400">Lien Deux</a></li>
                <li><a href="#" class="text-gray-400">Lien Trois</a></li>
            </ul>
        </div>
        <div>
            <h3 class="text-lg font-semibold">Suivez-nous</h3>
            <ul class="mt-2 space-y-1">
                <li><a href="#" class="text-gray-400">Facebook</a></li>
                <li><a href="#" class="text-gray-400">Instagram</a></li>
                <li><a href="#" class="text-gray-400">LinkedIn</a></li>
            </ul>
        </div>
    </div>
    <p class="text-center text-gray-400 mt-6">   &copy; 2025 KitchenShop - Tous droits réservés.</p>
</footer>