{% extends 'base.html.twig' %}

{% block title %}Hello AccountCustomerController!{% endblock %}

{% block body %}
<div class="h-screen">

    {% include 'partials/_navbar.html.twig' %}

   



    {% include 'partials/_footer.html.twig' %}

</div>
{% endblock %}
