{% extends 'layout/admin_layout.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block main %}
    <div class="bg-white p-4 rounded-lg">

        {{ component('Order:OrderListComponent') }}

    </div>
{% endblock %}
