<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Symfony E-commerce sur le domaine de l'art de la cuisine. vous y trouverez plaitor d'article divers et varié.">
        <link rel="icon" type="image/svg+xml" href="images/logo.svg" />
        <title>{% block title %}KitchenShop{% endblock %}</title>
       
        {% block stylesheets %}
             <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
         
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
           
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
