<div {{ attributes }}>

{% if isEditing %}
    <div class="bg-orange-50 p-4 rounded space-y-2">
        <p class="text-sm text-orange-700">Modifier le seuil minimum</p>
        <form >
            <input 
                type="number" 
                class="border border-orange-300 rounded px-2 py-1 w-full"
                data-model="stock.threshold">
            <div class="flex justify-end space-x-2">
                <button data-action="live#action" 
                        data-live-action-param="save"
                        class="bg-green-500 text-white text-sm px-3 py-1 rounded hover:bg-green-600"
                        >Sauvegarder</button>
                
            </div>
        </form>
    </div>
{% else %}
    <div class="bg-orange-50 p-4 rounded">
        <div class="flex justify-between items-center">
            <p class="text-sm text-orange-700">Seuil minimum</p>
            <p class="text-lg font-semibold text-orange-900">{{ stock.threshold }}</p>
        </div>
         <button data-action="live#action"
                 data-live-action-param="activateEditing"
                 class="inline-flex rounded-md bg-violet-300 text-sm text-white p-2 mt-2 hover:bg-violet-500">
                Modifier le seuil
         </button>
   </div>
{% endif %}
</div>


        


