{% extends 'layout/customer_layout.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block main %}
<h1>Annulation du paiement</h1>
<p>Le paiement a été annulé. Vous pouvez réessayer.</p>
{% endblock %}