{% extends 'layout/customer_layout.html.twig' %}

{% block title %}Commande passé{% endblock %}

{% block main %}
 <h1>✅ Paiement réussi ! </h1>
<p>Merci pour votre commande. Nous avons bien reçu votre paiement.</p>

<a href="{{ path('app_customer_dashboard') }}" class="mt-4 inline-block bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Retour à l'accueil</a>
{% endblock %}