{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="bg-pink-50 min-h-screen ">

    {% set currentRoute = app.request.attributes.get('_route') %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class=" container mx-auto  py-4">
        <div class="flex justify-between p-4 bg-white rounded shadow mb-4">
            <p class="text-gray-700">
                Bonjour <span class="font-bold">{{ app.user.email }}</span>
            </p>
            <div class="text-right">
                <p class="font-bold">Département : <span class="font-normal">{{ app.user.departement }}</span></p>
                <p class="font-bold">Matricule : <span class="font-normal">{{ app.user.matricule }}</span></p>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Layout principal en deux colonnes : aside + main -->
    <div class="container mx-auto flex ">

        <!-- Sidebar -->
        {% include 'partials/admin/_sideBar.html.twig' %}
      

        <!-- Contenu principal -->
        <main class="flex-1 pl-6">
            {% block main %}
            {% endblock %}
        </main>
    </div>
</div>
{% endblock %}